https://platform.stratascratch.com/data-projects/predicting-price

Assignment
The target variable is price. You have 7 attributes and obviously we want you to build some initial ML model which predicts the prices.

1. Make some initial data analysis, which will hint to some stuctures in the data and how attributes are connected.
2. Fit some ML model(s) and explain briefly your choices.
3. Show with some X-validation the power of your model and comment the results.
4. Present us the results and the steps you have taken and also with some critical thinking and next steps.

## Make sure that the solution reflects your entire thought process - it is more important how the code is structured rather than the final metrics. You are expected to spend no more than 4 hours working on this project.

In [67]:
# Loading all the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy
from scipy import stats as st
import sidetable
%matplotlib inline

import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from plotly import graph_objects as go 
from datetime import datetime as dt
import datetime
import datetime as dt

pd.set_option('max_colwidth', 0)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"


import math as mth
np.warnings.filterwarnings('ignore')

In [68]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import SGDRegressor
import sklearn.metrics as skmet
from sklearn.metrics import mean_squared_error

In [69]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.activations import linear, relu, sigmoid
from tensorflow.keras.losses import BinaryCrossentropy

In [70]:
# Loading the data
try:
    sample_df = pd.read_csv('sample.csv')   
except :
    print("error loading olist_customers_dataset")

In [71]:
sample_df.head()

  loc1 loc2  para1  dow  para2    para3  para4   price
0  0    01   1      Mon  662    3000.0   3.8    73.49
1  9    99   1      Thu  340    2760.0   9.2    300.00
2  0    04   0      Mon  16     2700.0   3.0    130.00
3  4    40   1      Mon  17     12320.0  6.4    365.00
4  5    50   1      Thu  610    2117.0   10.8   357.50

In [72]:
sample_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   loc1    10000 non-null  object
 1   loc2    10000 non-null  object
 2   para1   10000 non-null  int64
 3   dow     10000 non-null  object
 4   para2   10000 non-null  int64
 5   para3   10000 non-null  float64
 6   para4   10000 non-null  float64
 7   price   10000 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

In [73]:
sample_df.shape

(10000, 8)

In [74]:
#sns.pairplot(sample_df)

In [75]:
# checking loc1 and loc2

### loc1

In [76]:
sample_df.loc1.nunique()

12

In [77]:
sample_df.groupby('loc1')['loc1'].count()

loc1
0    1486
1    1223
2    1607
3    945
4    773
5    846
6    620
7    1081
8    727
9    690
S    1
T    1
Name: loc1, dtype: int64

In [78]:
sample_df[sample_df.loc1 == 'S']

     loc1 loc2  para1  dow  para2    para3  para4  price
3026  S    S6   3      Fri  1289   24000.0  13.6   850.0

In [79]:
sample_df[sample_df.loc1 == 'T']

     loc1 loc2  para1  dow  para2   para3  para4  price
5510  T    TS   3      Fri  1472   1600.0  2.0    440.0

### loc2

In [80]:
sample_df.loc2.nunique()

107

In [81]:
sample_df.groupby('loc2')['loc2'].count()

loc2
00    1
01    241
02    63
03    100
04    180
     ...
97    88
98    25
99    133
S6    1
TS    1
Name: loc2, Length: 107, dtype: int64

In [82]:
# how are loc1 and loc2 related

In [83]:
locs = sample_df.groupby(['loc1','loc2']).count()
locs.head()

           para1  dow  para2  para3  para4  price
loc1 loc2
0    00    1      1    1      1      1      1
     01    241    241  241    241    241    241
     02    63     63   63     63     63     63
     03    100    100  100    100    100    100
     04    180    180  180    180    180    180

In [84]:
sample_df.groupby('para1').count()

       loc1  loc2   dow  para2  para3  para4  price
para1
0      836   836   836   836    836    836    836
1      7052  7052  7052  7052   7052   7052   7052
2      268   268   268   268    268    268    268
3      1613  1613  1613  1613   1613   1613   1613
4      164   164   164   164    164    164    164
5      51    51    51    51     51     51     51
6      6     6     6     6      6      6      6
7      3     3     3     3      3      3      3
8      1     1     1     1      1      1      1
9      2     2     2     2      2      2      2
13     2     2     2     2      2      2      2
24     1     1     1     1      1      1      1
337    1     1     1     1      1      1      1

In [85]:
# one hot encoding loc1,loc2,dow, para1

In [86]:
loc1_df = pd.get_dummies(sample_df.loc1)

In [87]:
loc1_df.shape

(10000, 12)

In [88]:
loc2_df = pd.get_dummies(sample_df.loc2)

In [89]:
loc2_df.shape

(10000, 107)

In [90]:
dow_df = pd.get_dummies(sample_df.dow)

In [91]:
dow_df.shape

(10000, 7)

In [92]:
para1_df = pd.get_dummies(sample_df.para1)

In [93]:
para1_df.shape

(10000, 13)

In [94]:
sample_df.head()

  loc1 loc2  para1  dow  para2    para3  para4   price
0  0    01   1      Mon  662    3000.0   3.8    73.49
1  9    99   1      Thu  340    2760.0   9.2    300.00
2  0    04   0      Mon  16     2700.0   3.0    130.00
3  4    40   1      Mon  17     12320.0  6.4    365.00
4  5    50   1      Thu  610    2117.0   10.8   357.50

In [95]:
# scaling  para2, para3, para4
scaler = StandardScaler()

In [96]:
paras = sample_df[['para2','para3','para4']]

In [97]:
paras_scaled = pd.DataFrame(scaler.fit_transform(paras))

In [98]:
paras_scaled.shape

(10000, 3)

In [99]:
paras2 = pd.DataFrame(paras_scaled)

In [100]:
paras2

             0         1         2
0     0.971136 -0.816212 -1.010020
1    -0.485912 -0.846128  0.160510
2    -1.952010 -0.853607 -1.183432
3    -1.947485  0.345533 -0.446432
4     0.735836 -0.926279  0.507333
...        ...       ...       ...
9995 -0.277762 -0.566910  0.767451
9996 -0.277762 -0.785049 -0.099608
9997 -1.164661 -0.086257 -0.619844
9998  1.220011 -0.566910  1.114275
9999  0.790136 -1.148282 -0.793256

[10000 rows x 3 columns]

In [101]:
# constructing X = pd.DataFrame[loc1_df,loc2_df,dow_df,paras_scaled]

In [102]:
X = pd.concat([loc1_df,loc2_df,dow_df,para1_df,paras2],axis=1)

In [103]:
X.shape

(10000, 142)

In [104]:
y = sample_df.price

In [105]:
X_train1, X_test, y_train1, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [106]:
# cross validation set

In [107]:
X_train, X_cv, y_train, y_cv = train_test_split(X_train1, y_train1, test_size=0.2, random_state=42)

In [108]:
X_cv.shape

(1600, 142)

In [109]:
y_cv.shape

(1600,)

# **Code improvement**

In [110]:

import xgboost
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
import sklearn
from sklearn import tree
from sklearn import svm
from sklearn import neighbors
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

In [111]:
sample_df.head()

  loc1 loc2  para1  dow  para2    para3  para4   price
0  0    01   1      Mon  662    3000.0   3.8    73.49
1  9    99   1      Thu  340    2760.0   9.2    300.00
2  0    04   0      Mon  16     2700.0   3.0    130.00
3  4    40   1      Mon  17     12320.0  6.4    365.00
4  5    50   1      Thu  610    2117.0   10.8   357.50

## Data Type Changing

In [112]:
sample_df["loc1"].value_counts()

2    1607
0    1486
1    1223
7    1081
3    945
5    846
4    773
8    727
9    690
6    620
T    1
S    1
Name: loc1, dtype: int64

In [113]:
sample_df = sample_df[(sample_df["loc1"].str.contains("S") == False) & (sample_df["loc1"].str.contains("T") == False)]

In [114]:
sample_df.shape

(9998, 8)

In [115]:
sample_df["loc2"] = pd.to_numeric(sample_df["loc2"], errors='coerce')
sample_df["loc1"] = pd.to_numeric(sample_df["loc1"], errors='coerce')
sample_df.dropna(inplace = True)

In [116]:
sample_df.shape

(9993, 8)

In [117]:
# get_dummies
dow_dummies = pd.get_dummies(sample_df.dow)

In [118]:
dow_dummies.head()

   Fri  Mon  Sat  Sun  Thu  Tue  Wed
0  0    1    0    0    0    0    0
1  0    0    0    0    1    0    0
2  0    1    0    0    0    0    0
3  0    1    0    0    0    0    0
4  0    0    0    0    1    0    0

In [119]:
df2 = sample_df.copy(deep=True)

In [120]:
df2.drop(columns = "dow", inplace = True)

In [121]:
result = df2.join(dow_dummies)
result.head()

,loc1,loc2,para1,para2,para3,para4,price,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,0,1.0,1,662,3000.0,3.8,73.49,0,1,0,0,0,0,0
1,9,99.0,1,340,2760.0,9.2,300.00,0,0,0,0,1,0,0
2,0,4.0,0,16,2700.0,3.0,130.00,0,1,0,0,0,0,0
3,4,40.0,1,17,12320.0,6.4,365.00,0,1,0,0,0,0,0
4,5,50.0,1,610,2117.0,10.8,357.50,0,0,0,0,1,0,0

In [122]:
# day classification
days_of_week = {'Mon': 1, 'Tue': 2, 'Wed': 3, 'Thu': 4, 'Fri': 5, 'Sat': 6, 'Sun': 7}
sample_df['dow'] = sample_df['dow'].map(days_of_week)

In [123]:
sample_df.head()

   loc1  loc2  para1  dow  para2    para3  para4   price
0  0     1.0   1      1    662    3000.0   3.8    73.49
1  9     99.0  1      4    340    2760.0   9.2    300.00
2  0     4.0   0      1    16     2700.0   3.0    130.00
3  4     40.0  1      1    17     12320.0  6.4    365.00
4  5     50.0  1      4    610    2117.0   10.8   357.50

In [124]:
result.head()

,loc1,loc2,para1,para2,para3,para4,price,Fri,Mon,Sat,Sun,Thu,Tue,Wed
0,0,1.0,1,662,3000.0,3.8,73.49,0,1,0,0,0,0,0
1,9,99.0,1,340,2760.0,9.2,300.00,0,0,0,0,1,0,0
2,0,4.0,0,16,2700.0,3.0,130.00,0,1,0,0,0,0,0
3,4,40.0,1,17,12320.0,6.4,365.00,0,1,0,0,0,0,0
4,5,50.0,1,610,2117.0,10.8,357.50,0,0,0,0,1,0,0

In [130]:
#correlation matrix by result df
pd.DataFrame(abs(result.corr().price).sort_values(ascending=False))

          price
price  1.000000
para2  0.551222
para4  0.517614
para3  0.356949
para1  0.074555
loc1   0.044079
loc2   0.043543
Wed    0.026684
Fri    0.025674
Mon    0.021734
Thu    0.019656
Sat    0.014918
Sun    0.004176
Tue    0.000974

In [131]:
# checkin outliers
result["para1"].value_counts()

1      7052
3      1609
0      836
2      265
4      164
5      51
6      6
7      3
13     2
9      2
337    1
24     1
8      1
Name: para1, dtype: int64

In [133]:
result = result[result["para1"] < 10]

## Feature selection

In [134]:
# 5 best
five_best = []
df_5 = pd.DataFrame(result.corr()["price"]).sort_values(by = "price", ascending = False)
df_5 = df_5.drop(df_5.index[0]).head(5)
for i in range(len(df_5)):
    five_best.append(df_5.index[i])

In [135]:
five_best

['para2', 'para4', 'para3', 'para1', 'Fri']

In [136]:
# 3 best
df_3 = pd.DataFrame(result.corr()["price"]).sort_values(by = "price", ascending = False)
df_3 = df_3.drop(df_3.index[0]).head(3)
three_best = []
for i in range(len(df_3)):
    three_best.append(df_3.index[i])

In [137]:
df_3

          price
para2  0.551435
para4  0.517559
para3  0.356646

# Regresion Models

In [138]:
feature_sets = {
    "full_dataset": result.drop(columns=['price']),
    "three_best": result[three_best],
    "five_best": result[five_best], 
   
}

In [139]:
regression_models = {
    "Ridge" : linear_model.Ridge(random_state = 42),
    "DecisionTree" : tree.DecisionTreeRegressor(random_state = 42, max_depth=6),
    "RandomForest" : RandomForestRegressor(random_state = 42),
    "XGBoost": XGBRegressor(random_state = 42),
    "LGBM": LGBMRegressor(random_state = 42),
    "MLP":  MLPRegressor(random_state = 42),    
}

In [146]:
def make_regression(x_train, y_train, x_test, y_test, model, model_name, verbose=True):

    model.fit(x_train,y_train)
    
    y_predict=model.predict(x_train)
    train_error = mean_squared_error(y_train, y_predict)
    
    y_predict =model.predict(x_test)
    test_error = mean_squared_error(y_test, y_predict)
    
    y_predict=model.predict(x_train)
    r2 = r2_score(y_train, y_predict)
    
    if verbose:
        print("----Model name = {}-----".format(model_name))
        print("Train error = "'{}'.format(train_error))
        print("Test error = "'{}'.format(test_error))
        print("r2_score = "'{}'.format(r2))
        print("--------------------------------")
    
    trained_model = model
    
    return trained_model, y_predict, train_error, test_error, r2

In [147]:
pred_dict = {
    "regression_model": [],
    "feature_set": [],
    "Train Error": [],
    "Test Error": [],
    "R2" : []
}

In [148]:
for feature_set_name in feature_sets.keys():
    
    feature_set = feature_sets[feature_set_name]
    print("Included columns are {}".format(feature_set_name))
    for model_name in regression_models.keys():        
        
        y = result["price"]
        x = feature_set
        x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
    

        trained_model, y_predict, train_error, test_error, r2 = make_regression(x_train, y_train, x_test, y_test, regression_models[model_name], model_name, verbose=True)


        pred_dict["regression_model"].append(model_name)
        pred_dict["feature_set"].append(feature_set_name)
        pred_dict["Train Error"].append(train_error)
        pred_dict["Test Error"].append(test_error)
        pred_dict["R2"].append(r2)

Included columns are full_dataset
----Model name = Ridge-----
Train error = 34073.29533952957
Test error = 30276.311719997226
r2_score = 0.5581558312812029
--------------------------------
----Model name = DecisionTree-----
Train error = 20676.303321262738
Test error = 27466.628374708096
r2_score = 0.7318808186256526
--------------------------------
----Model name = RandomForest-----
Train error = 4684.0903703709455
Test error = 25088.232120000208
r2_score = 0.939259235266886
--------------------------------
----Model name = XGBoost-----
Train error = 5969.642279389444
Test error = 23802.400334791975
r2_score = 0.9225888895041688
--------------------------------
----Model name = LGBM-----
Train error = 14917.600885234253
Test error = 21833.673550738684
r2_score = 0.8065565746801019
--------------------------------
----Model name = MLP-----
Train error = 33462.46857014817
Test error = 29555.343571823698
r2_score = 0.5660767043126824
--------------------------------
Included columns are three_best
----Model name = Ridge-----
Train error = 34505.15968104937
Test error = 30592.036664241892
r2_score = 0.5525556467649513
--------------------------------
----Model name = DecisionTree-----
Train error = 21541.365108673886
Test error = 30381.27789765607
r2_score = 0.7206631626126268
--------------------------------
----Model name = RandomForest-----
Train error = 5720.3063601227195
Test error = 29012.23691540877
r2_score = 0.9258221436077816
--------------------------------
----Model name = XGBoost-----
Train error = 9323.89670674737
Test error = 31357.50847838428
r2_score = 0.8790927220698461
--------------------------------
----Model name = LGBM-----
Train error = 19005.955759637287
Test error = 25642.45683508437
r2_score = 0.7535409874612053
--------------------------------
----Model name = MLP-----
Train error = 35266.52999559087
Test error = 31280.190456648997
r2_score = 0.5426826060049199
--------------------------------
Included columns are five_best
----Model name = Ridge-----
Train error = 34106.233885101465
Test error = 30246.239580048703
r2_score = 0.5577287019371816
--------------------------------
----Model name = DecisionTree-----
Train error = 20586.23690789005
Test error = 28971.189664723846
r2_score = 0.7330487514348978
--------------------------------
----Model name = RandomForest-----
Train error = 5026.811956951196
Test error = 27321.977828523548
r2_score = 0.9348150060540791
--------------------------------
----Model name = XGBoost-----
Train error = 8244.279063171427
Test error = 28755.61792608376
r2_score = 0.8930926230335356
--------------------------------
----Model name = LGBM-----
Train error = 17035.93608132792
Test error = 23615.19605107328
r2_score = 0.7790871431367454
--------------------------------
----Model name = MLP-----
Train error = 35960.81923653005
Test error = 32073.412137495743
r2_score = 0.5336794365299298
--------------------------------

In [149]:
pred_df = pd.DataFrame(pred_dict)
pred_df.head(5)

  regression_model   feature_set   Train Error    Test Error        R2
0  Ridge            full_dataset  34073.295340  30276.311720  0.558156
1  DecisionTree     full_dataset  20676.303321  27466.628375  0.731881
2  RandomForest     full_dataset  4684.090370   25088.232120  0.939259
3  XGBoost          full_dataset  5969.642279   23802.400335  0.922589
4  LGBM             full_dataset  14917.600885  21833.673551  0.806557

## Model Evaluation

### Highest R Squared

In [150]:
pred_df.sort_values(by = "R2", ascending = False).head(5)

   regression_model   feature_set  Train Error    Test Error        R2
2   RandomForest     full_dataset  4684.090370  25088.232120  0.939259
14  RandomForest     five_best     5026.811957  27321.977829  0.934815
8   RandomForest     three_best    5720.306360  29012.236915  0.925822
3   XGBoost          full_dataset  5969.642279  23802.400335  0.922589
15  XGBoost          five_best     8244.279063  28755.617926  0.893093

### Min Test Error

In [151]:
pred_df.sort_values(by = "Test Error", ascending = True).head(5)

   regression_model   feature_set   Train Error    Test Error        R2
4   LGBM             full_dataset  14917.600885  21833.673551  0.806557
16  LGBM             five_best     17035.936081  23615.196051  0.779087
3   XGBoost          full_dataset  5969.642279   23802.400335  0.922589
2   RandomForest     full_dataset  4684.090370   25088.232120  0.939259
10  LGBM             three_best    19005.955760  25642.456835  0.753541

### Min Train Error

In [152]:
pred_df.sort_values(by = "Train Error", ascending = True).head(5)

   regression_model   feature_set  Train Error    Test Error        R2
2   RandomForest     full_dataset  4684.090370  25088.232120  0.939259
14  RandomForest     five_best     5026.811957  27321.977829  0.934815
8   RandomForest     three_best    5720.306360  29012.236915  0.925822
3   XGBoost          full_dataset  5969.642279  23802.400335  0.922589
15  XGBoost          five_best     8244.279063  28755.617926  0.893093

## Grid Search in Random Forest

In [154]:
x = result.drop(columns=['price'])
y = result["price"]

x_train, x_test, y_train, y_test = train_test_split(
x, y, 
test_size=0.2, random_state=42
)

model = RandomForestRegressor(random_state=42)

model_name = "Random Forest"

model.fit(x_train,y_train)

y_predict=model.predict(x_train)
train_error_f = mean_squared_error(y_train, y_predict)

y_predict =model.predict(x_test)
test_error_f = mean_squared_error(y_test, y_predict)

y_predict=model.predict(x_train)
r2_f = r2_score(y_train, y_predict)


print("----Model name = {}-----".format(model_name))
print("Train error = "'{}'.format(train_error_f))
print("Test error = "'{}'.format(test_error_f))
print("r2_score = "'{}'.format(r2_f))
print("--------------------------------")

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

----Model name = Random Forest-----
Train error = 4684.0903703709455
Test error = 25088.232120000208
r2_score = 0.939259235266886
--------------------------------

In [155]:
model.get_params()

{'bootstrap': True,
 'criterion': 'mse',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 10,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [156]:
sklearn.metrics.SCORERS.keys()

dict_keys(['explained_variance', 'r2', 'neg_median_absolute_error', 'neg_mean_absolute_error', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'accuracy', 'roc_auc', 'balanced_accuracy', 'average_precision', 'neg_log_loss', 'brier_score_loss', 'adjusted_rand_score', 'homogeneity_score', 'completeness_score', 'v_measure_score', 'mutual_info_score', 'adjusted_mutual_info_score', 'normalized_mutual_info_score', 'fowlkes_mallows_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted'])

In [168]:
from sklearn.model_selection import GridSearchCV
# Create the parameter grid based on the results of random search 
param_grid = {
    
  'bootstrap': [True],
 'criterion': ['mse'],
 'max_depth': [None],
 'max_features': ['auto'],
 'max_leaf_nodes': [None],
 'min_impurity_decrease': [0.0],
 'min_impurity_split': [None],
 'min_samples_leaf': [1],
 'min_samples_split': [2],
 'min_weight_fraction_leaf': [0.0],
 'n_estimators': [10],
 'n_jobs': [None],
 'oob_score': [False],
 'random_state': [42],
 'verbose': [0],
 'warm_start': [False]
    
}
# Create a based model
rf = RandomForestRegressor()
# Instantiate the grid search model
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 0, scoring = 'neg_mean_squared_error')

In [169]:
import time
start = time.time()
grid_search.fit(x_train, y_train)

end = time.time()
elapsed_time_seconds = end - start
elapsed_time = (elapsed_time_seconds) / 60
elapsed_time_seconds = round(elapsed_time_seconds,2)
elapsed_time = round(elapsed_time,2)
print('Execution time:', elapsed_time_seconds, 'seconds which is:', elapsed_time, 'minutes.' )

GridSearchCV(cv=3, error_score='raise-deprecating',
       estimator=RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators='warn', n_jobs=None,
           oob_score=False, random_state=None, verbose=0, warm_start=False),
       fit_params=None, iid='warn', n_jobs=-1,
       param_grid={'bootstrap': [True], 'criterion': ['mse'], 'max_depth': [None], 'max_features': ['auto'], 'max_leaf_nodes': [None], 'min_impurity_decrease': [0.0], 'min_impurity_split': [None], 'min_samples_leaf': [1], 'min_samples_split': [2], 'min_weight_fraction_leaf': [0.0], 'n_estimators': [10], 'n_jobs': [None], 'oob_score': [False], 'random_state': [42], 'verbose': [0], 'warm_start': [False]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring='neg_mean_squared_error', verbose=0)

Execution time: 3.91 seconds which is: 0.07 minutes.

In [170]:
best_params = grid_search.best_params_

In [172]:
x = result.drop(columns=['price'])
y = result["price"]
x_train, x_test, y_train, y_test = train_test_split(
x, y, 
test_size=0.2, random_state=42
)

model = RandomForestRegressor()

model.set_params(**best_params)

model_name = "Random Forest"

model.fit(x_train,y_train)

y_predict= model.predict(x_train)
train_error_gr = mean_squared_error(y_train, y_predict)

y_predict =model.predict(x_test)
test_error_gr = mean_squared_error(y_test, y_predict)

y_predict=model.predict(x_train)
r2_gr = r2_score(y_train, y_predict)


print("----Model name = {}-----".format(model_name))
print("Train error = "'{}'.format(train_error_gr))
print("Test error = "'{}'.format(test_error_gr))
print("r2_score = "'{}'.format(r2_gr))
print("--------------------------------")

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

----Model name = Random Forest-----
Train error = 4684.0903703709455
Test error = 25088.232120000208
r2_score = 0.939259235266886
--------------------------------

## Standard Scaling

In [174]:
from sklearn.preprocessing import StandardScaler

In [176]:
x = result.drop(columns=['price'])
y = result["price"]
y = np.asanyarray(y).reshape(-1,1)

In [177]:
x_scaler = StandardScaler()
x_scaler.fit(X=x, y=y)
x_scaled = x_scaler.transform(x)
y_scaler = StandardScaler()
y_scaler.fit(y)
y_scaled = y_scaler.transform(y)

StandardScaler(copy=True, with_mean=True, with_std=True)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [178]:
x_train_scaled, x_test_scaled, y_train_scaled, y_test_scaled = train_test_split(
        x_scaled, y_scaled, test_size=0.2, random_state=42)

In [185]:
model = RandomForestRegressor()
model.set_params(**best_params)
model.fit(x_train_scaled,y_train_scaled)

y_predict_scaled=model.predict(x_train_scaled)
y_predict_train_standard = y_scaler.inverse_transform(y_predict_scaled.reshape(-1, 1))
rmse_error_train_standard = mean_squared_error(y_train, y_predict_train_standard[:,0])
r2_standard = r2_score(y_train, y_predict_train_standard)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [186]:
model = RandomForestRegressor()
model.set_params(**best_params)
model.fit(x_test_scaled,y_test_scaled)


y_predict_scaled_t=model.predict(x_test_scaled)
y_predict_test_standard = y_scaler.inverse_transform(y_predict_scaled_t.reshape(-1, 1))
rmse_error_test_standard = mean_squared_error(y_test, y_predict_test_standard[:,0])

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [187]:
print("Normalized Train error = "'{}'.format(rmse_error_train_standard))
print("Normalized Test error = "'{}'.format(rmse_error_test_standard))
print("Normalized r2_score = "'{}'.format(r2_standard))

Normalized Train error = 4634.246278125622
Normalized Test error = 4480.583963012763
Normalized r2_score = 0.9399055866480549

# Neural Network

In [188]:
y = result["price"]
x = result.drop(columns=['price'])

In [189]:
x_train, x_test, y_train, y_test = train_test_split(
x, y, 
test_size=0.2, random_state=42
)

In [224]:
nn_model = Sequential(
    [ 
        Dense(25, activation = 'relu'),
        Dense(15, activation = 'relu'),
        Dense(1, activation = 'relu')    # outputlayer
    ]
)
nn_model.compile(
    loss=tf.losses.MeanSquaredError(),
    optimizer=tf.keras.optimizers.Adam(0.01),
)

In [225]:
nn_model.fit(
    x_train,y_train,
    epochs=100
)

Epoch 1/100
WARNING:tensorflow:Layer dense_9 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

250/250 [==============================] - 0s 994us/step - loss: 131132.0156
Epoch 2/100
250/250 [==============================] - 0s 988us/step - loss: 46631.3633
Epoch 3/100
250/250 [==============================] - 0s 924us/step - loss: 45935.3789
Epoch 4/100
250/250 [==============================] - 0s 968us/step - loss: 44371.5078
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 44575.8125
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 44108.5664
Epoch 7/100
250/250 [==============================] - 0s 908us/step - loss: 42256.0859
Epoch 8/100
250/250 [==============================] - 0s 928us/step - loss: 44100.8125
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 42578.6523
Epoch 10/100
250/250 [==============================] - 0s 876us/step - loss: 41759.6953
Epoch 11/100
250/250 [==============================] - 0s 996us/step - loss: 41184.2891
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 40410.2344
Epoch 13/100
250/250 [==============================] - 0s 968us/step - loss: 40315.0430
Epoch 14/100
250/250 [==============================] - 0s 956us/step - loss: 40378.0547
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 40908.2891
Epoch 16/100
250/250 [==============================] - 0s 928us/step - loss: 38985.5273
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 38383.2148
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 40075.5234
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 39954.8086
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 38192.1758
Epoch 21/100
250/250 [==============================] - 0s 992us/step - loss: 39435.4922
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 37680.6602
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 37512.2773
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 38459.8594
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 37741.7539
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 38847.7109
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 37218.1211
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 38675.8750
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 38043.2344
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 37291.3086
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 37226.9844
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 35975.1758
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 37568.9141A: 0s - loss: 31
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 37116.5312
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 37437.3203
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 37191.7812
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 36029.4688
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 36004.5430
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 36804.4844
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 36298.4453
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 35949.2695
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 36983.8086
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 35447.4570
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 36533.6328
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 35706.3398
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 35416.5312
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 36200.1484
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 37755.0195
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 35830.4453
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 35840.8242
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 35894.1602
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 35263.4062
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 35909.1797
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 36118.9688
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 36844.9453
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 35527.5312
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 35729.3867
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 35086.2344
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 36036.0156
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 36019.4180
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 35848.7734
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 35424.7266
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 35040.1367
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 35372.3555
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 35925.1641
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 35515.1992
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 35373.0664
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 34527.0156
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 35205.6172
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 35994.6016
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 35119.1641
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 33921.0703
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 35578.4688
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 35122.1328
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 35390.9883
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 34926.7188
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 35414.5547
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 35587.7617
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 35600.4648
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 35244.7344
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 35318.2305
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 34244.8359
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 35102.8203
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 34809.9023
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 34739.1211
Epoch 86/100

250/250 [==============================] - 0s 2ms/step - loss: 35362.7773
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 34782.4766
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 34318.9961
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 34174.8711
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 34982.9766
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 34334.6367
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 36278.6367
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 34577.4102
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 34651.6328
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 34797.8008
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 35709.2656
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 35961.0547
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 35187.5664
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 34090.7695
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 34663.3203

In [226]:
y_train_pred = nn_model.predict(x_train)

In [227]:
r2_second = r2_score(y_train, y_train_pred)

In [228]:
r2_second

0.5532779990221521

In [230]:
mse = tf.keras.losses.MeanSquaredError()

In [231]:
mse(y_train, y_train_pred).numpy()

120232.43

## optimizing?

In [232]:
nn_model = Sequential(
    [ 
        Dense(64, activation = 'relu'),
        Dense(32, activation = 'relu'),
        Dense(16, activation = 'relu'),
        Dense(8, activation = 'relu'),
        Dense(1, activation = 'relu')    # outputlayer
    ]
)
nn_model.compile(
    loss=tf.losses.MeanSquaredError(),
    optimizer=tf.keras.optimizers.Adam(0.01),
)

In [233]:
nn_model.fit(
    x_train,y_train,
    epochs=100
)

Epoch 1/100
WARNING:tensorflow:Layer dense_12 is casting an input tensor from dtype float64 to the layer's dtype of float32, which is new behavior in TensorFlow 2.  The layer has dtype float32 because its dtype defaults to floatx.

If you intended to run this layer in float32, you can safely ignore this warning. If in doubt, this warning is likely only an issue if you are porting a TensorFlow 1.X model to TensorFlow 2.

To change all layers to have dtype float64 by default, call `tf.keras.backend.set_floatx('float64')`. To change just this layer, pass dtype='float64' to the layer constructor. If you are the author of this layer, you can disable autocasting by passing autocast=False to the base Layer constructor.

250/250 [==============================] - 0s 1ms/step - loss: 61888.2578
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 47016.5781
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 46391.8047
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 45554.4922
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 43328.6016
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 46764.9375
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 42155.0117
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 43028.3906
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 42227.4570
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 41765.3047
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 40164.3477
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 39677.0430
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 42068.9492
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 40697.0312
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 40318.4727
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 39167.2188
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 40006.0859
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 39790.4570
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 39595.0898
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 38053.2539
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 38203.5391
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 36759.0508
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 38867.8516
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 37747.4062
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 40399.4492
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 38672.8359
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 38138.5625
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 38002.4492
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 36789.7070
Epoch 30/100
250/250 [==============================] - 0s 908us/step - loss: 37833.6992
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 36384.1406
Epoch 32/100
250/250 [==============================] - 1s 2ms/step - loss: 37528.7969
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 36889.3867
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 37626.1836
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 36634.3086
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 36621.9062
Epoch 37/100
250/250 [==============================] - 1s 2ms/step - loss: 37820.3906
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 36374.6680
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 36218.4883
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 35873.1641
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 35674.1094
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 36619.2852
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 36024.8203
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 36511.7305
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 35346.3320
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 35555.3242
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 36157.7773
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 36091.7656
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 34786.5586
Epoch 50/100
250/250 [==============================] - 1s 2ms/step - loss: 36388.4023
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 36315.3906
Epoch 52/100
250/250 [==============================] - 1s 2ms/step - loss: 36581.3242
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 35763.3203
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 35162.4375
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 36375.2773
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 35797.0352
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 35255.5664
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 34577.7773
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 35703.1992
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 35602.5000A: 0s - loss: 711
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 35473.2539
Epoch 62/100
250/250 [==============================] - 1s 2ms/step - loss: 35627.3047
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 35059.1055
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 34443.5273
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 36576.4023
Epoch 66/100
250/250 [==============================] - 1s 2ms/step - loss: 35452.8281
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 35942.0625
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 35676.9570
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 35685.5391
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 34686.0156
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 34839.5586
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 36190.8281
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 35161.5938
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 34767.5352
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 36681.9727
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 34638.0391
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 35523.4648
Epoch 78/100
250/250 [==============================] - 1s 2ms/step - loss: 35556.8711
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 34842.7539
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 35140.5273
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 35392.2422
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 34529.0000
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 34339.9570
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 35263.8750
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 35032.1797
Epoch 86/100

250/250 [==============================] - 0s 2ms/step - loss: 34993.1836
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 35913.4531
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 35103.2773
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 34870.6211
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 34957.4102
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 37005.9648
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 35511.3750
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 34634.1562
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 34793.4648
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 35050.8789
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 35352.9727
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 33976.9258
Epoch 98/100
250/250 [==============================] - 0s 2ms/step - loss: 34985.3398
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 34639.6367
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 34173.2500

In [234]:
y_train_pred = nn_model.predict(x_train)

In [235]:
r2__ = r2_score(y_train, y_train_pred)

In [236]:
r2__

0.550358021071333

In [237]:
mse(y_train, y_train_pred).numpy()

111764.15